{% for master in groups['greenplum_master'] %}
{{ master }}
{% endfor %}
{% for standby in groups['greenplum_standby'] %}
{{ standby }}
{% endfor %}
{% for segment in groups['greenplum_segments'] %}
{{ segment }}
{% endfor %}
